<div class="app">
    <h1 class="app__header">Angular Global Error Handler</h1>

    <div class="app__section">
        <h3 class="app__header">Throw Errors</h3>
        <p class="app__description">Check the browser console for output</p>

        <button class="app-button app-button--primary" (click)="onCaughtError()">
            Try Catch Error
        </button>
        <button class="app-button app-button--primary" (click)="onUnCaughtError()">
            Gloab Error Handler
        </button>
    </div>
</div>
